<div class="progress-loader" [hidden]="!loading">
  <div class="loader">
    <mat-progress-spinner [mode]="'indeterminate'" [color]="'accent'">
    </mat-progress-spinner>
  </div>
</div>
<div>
  <mat-toolbar class="navbar">
    <div>
      <i class="icon-male icon-2x"></i>
      <span class="logo">anjesh KM</span>
    </div>
    <span class="logo">M-Edit!</span>
    <!--    <span class="example-spacer"></span>-->
    <div>
      <a href="https://www.linkedin.com/in/manjesh-km" style="margin-right: 5px">
        <i class="icon-linkedin-sign icon-3x"></i>
      </a>
      <a href="https://github.com/manjeshkm" class="example-icon">
        <i class="icon-github icon-3x"></i>
      </a>
    </div>
  </mat-toolbar>
</div>
<main class="container" [formGroup]="form">
  <div class="langSelect">
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select formControlName="languageControl" required>
        <mat-option>Language:</mat-option>
        <mat-option *ngFor="let lan of languages" [value]="lan" (click)="setlang()">
          {{lan}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('languageControl').hasError('required')">Please choose an language</mat-error>
      <!--        <mat-hint>{{languageControl.value}}</mat-hint>-->
    </mat-form-field>
  </div>
  <div class="versionSelect">
    <mat-form-field>
      <mat-label>Version</mat-label>
      <mat-select formControlName="versionControl" required [disabled]="selectedLang?false:true">
        <mat-option>Versions:</mat-option>
        <mat-option *ngFor="let ver of versions" [value]="ver" (click)="setVersion()">
          {{ver}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('languageControl').hasError('required')">Please choose an version</mat-error>
      <!--        <mat-hint>{{languageControl.value}}</mat-hint>-->
    </mat-form-field>
  </div>
  <div class="slideButton">
    <mat-slide-toggle
      [checked]="checked" (change)="setTheme()">
      Dark Mode
    </mat-slide-toggle>
  </div>
  <div class="myeditor">
    <app-editor [selectedTheme]="theme" [lang]="selectedLang" (code)="runCode($event)"></app-editor>
  </div>
  <div class="output">
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState">
        <mat-expansion-panel-header class="outputHeader">
          <mat-panel-title>
            Output:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br>
        <p>statusCode:<span class="result"> {{output.statusCode}}</span></p>
        <p>output:<span class="result"> {{output.output}}</span></p>
        <p>CPU time:<span class="result"> {{output.cpuTime}}</span></p>
        <p>memory:<span class="result"> {{output.memory}}</span></p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</main>

